<a href="https://colab.research.google.com/github/Dmitrii-Melkikh/Pandas_and_R_coding/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D0%BD%D0%B0_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Для выполнения заданий возьмите данные из папки [data](https://drive.google.com/drive/folders/17E4vB5kWr5FNjLKRU4XGoJSVTxn1jkg4?usp=sharing) о продажах. Данные распределены по 4 папкам:
* sales_train.csv - данные о продажах с января 2013 по октябрь 2015.
** date - дата продажы
** date_block_num - номер месяца по порядку следования
** shop_id - идентификатор магазина
** item_id - идентификатор товара
** item_price - цена товара
** item_cnt_day - количество проданного товара одного вида в день

* items.csv - подробная информация о товарах
** item_id - идентификатор товара
** item_name - название товара
** category_id - идентификатор категории товара

* item_categories.csv - подробная информация о категориях товаров
** item_category_id - идентификатор категории товара
** category_name - название категории товара

* shops.csv - подробная информация о магазинах
** shop_id - идентификатор магазина
** shop_name - название магазина

# Задание 1

1. Найдите топ-10 самых часто покупаемых товаров (не забудьте учесть столбец item_cnt_day).
2. Оставьте только те из них, которые покупали все три года (2013, 2014, 2015).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import datetime
top_item=pd.read_csv("/content/drive/MyDrive/data/sales_train.csv")
t=top_item[['item_id','item_cnt_day']]
sorted_df = t.sort_values(by='item_cnt_day', ascending=False)
items=pd.read_csv("/content/drive/MyDrive/data/items.csv")
value=[0]*22170
for row in sorted_df.itertuples():
  value[row.item_id]+=int(row.item_cnt_day)
id=[]
for i in range(10):
  v1=max(value)
  id.append(value.index(v1))
  value[value.index(v1)]-=v1  
for i in id:
  print(items.loc[items['item_id'] == i].values[0])
id_1=[]
date_top_item=top_item[['item_id','date']]
for i in id:
  rslt_df = date_top_item[date_top_item['item_id'] == i]
  rslt_df["date"] = pd.to_datetime(rslt_df["date"])
  df_filtered_2014 = rslt_df[rslt_df['date'].dt.strftime('%Y') == '2014' ]
  df_filtered_2013 = rslt_df[rslt_df['date'].dt.strftime('%Y') == '2013' ]
  df_filtered_2015 = rslt_df[rslt_df['date'].dt.strftime('%Y') == '2015' ]
  if len(df_filtered_2015.index)!=0 and len(df_filtered_2013.index)!=0 and len(df_filtered_2014.index)!=0:
    id_1.append(i)
for i in id_1:
  print(items.loc[items['item_id'] == i].values[0])

['Corporate package T-shirt 1C Interest white (34 * 42) 45 microns' 20949
 71]
['Diablo III [PC, Jewel, Russian version]' 2808 30]
['Grand Theft Auto V [PS3, Russian subtitles]' 3732 19]
['Acceptance of funds for 1C-Online' 17717 79]
['Playstation Store replenishment of wallet: Payment card 1000 rubles.'
 5822 35]
['Grand Theft Auto V [Xbox 360, Russian subtitles]' 3734 23]
['Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1108A/B01)' 6675 12]
['Grand Theft Auto V [PC, Russian subtitles]' 3731 30]
['Battlefield 4 [PC, Russian version]' 1855 30]
['Some of us [PS3, Russian version]' 16787 19]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

['Corporate package T-shirt 1C Interest white (34 * 42) 45 microns' 20949
 71]
['Diablo III [PC, Jewel, Russian version]' 2808 30]
['Grand Theft Auto V [PS3, Russian subtitles]' 3732 19]
['Acceptance of funds for 1C-Online' 17717 79]
['Playstation Store replenishment of wallet: Payment card 1000 rubles.'
 5822 35]
['Grand Theft Auto V [Xbox 360, Russian subtitles]' 3734 23]
['Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1108A/B01)' 6675 12]
['Battlefield 4 [PC, Russian version]' 1855 30]
['Some of us [PS3, Russian version]' 16787 19]

# Задание 2

> При выполнении на pandas не используйте merge().

1. Определите категорию товаров, в которой совершается минимальное число покупок. Выведите айди и название категории.
2. Определите категорию товаров, в которой совершается максимальное число покупок. Выведите айди и название категории.

In [ ]:
import pandas as pd
sales_train=pd.read_csv("/content/drive/MyDrive/data/sales_train.csv")
items=pd.read_csv("/content/drive/MyDrive/data/items.csv")
item_categories=pd.read_csv("/content/drive/MyDrive/data/item_categories.csv")
df=sales_train.set_index('item_id').join(items.set_index('item_id'))
df=df[['item_cnt_day','category_id']]
dic={}
l=list(items.category_id.unique())
for i in l:
  dic[i]=0
for row in df.itertuples():
  dic[row.category_id]+=row.item_cnt_day
id_max=max(dic,key=dic.get)
id_min=min(dic,key=dic.get)
print(item_categories[(item_categories['item_category_id'] == id_min)] ['item_category_name'])
print(item_categories[(item_categories['item_category_id'] == id_max)] ['item_category_name'])

# df_1=pd.DataFrame()
# df_1['category_id']=items.category_id.unique()
# df_1['amount']=0

[40 76 55 19 30 23 37 41 57 43 78 54 49 44 45 77 73 31 75 58 56 38 67 59
 60 74 21 28 20 24 29 70 22 32 62 25 72  4 63 27 18 26 64 15 68  0  2  5
  1  3  6 35 65 14 13 10 11 12 48 71 69  7 33 34 16 66 39 52 46 42 61  8
 80  9 17 36 47 82 81 50 51 79 53 83]
40     Cinema - DVD
Name: item_category_name, dtype: object
10     Game consoles - PS2
Name: item_category_name, dtype: object

# Задание 3

1. Для категорий из задания 2 найдите среднее количество продаж каждого товара категории в 5 магазинах с наибольшими продажами.
2. Найдите месяцы с минимальными и максимальными продажами для каждого товара из пункта 1.

In [ ]:
import pandas as pd
sales_train=pd.read_csv("/content/drive/MyDrive/data/sales_train.csv")
items=pd.read_csv("/content/drive/MyDrive/data/items.csv")
item_categories=pd.read_csv("/content/drive/MyDrive/data/item_categories.csv")
df=sales_train.set_index('item_id').join(items.set_index('item_id'))
df=df[['item_cnt_day','category_id']]
dic={}
l=list(items.category_id.unique())
for i in l:
  dic[i]=0
for row in df.itertuples():
  dic[row.category_id]+=row.item_cnt_day
id_max=max(dic,key=dic.get)
id_min=min(dic,key=dic.get)


df=sales_train.set_index('item_id').join(items.set_index('item_id'))
df_top_5=df.groupby("shop_id")["item_cnt_day"].sum().sort_values().tail(5)

id_list=df_top_5.index.tolist()
df_1=df[df["shop_id"].isin(id_list)]
df_1_mean=df_1.groupby('item_id').mean('item_cnt_day')

df_max=df_1_mean[df_1_mean['category_id']==id_max]
df_max=df_max[['item_cnt_day']]
df_max=df_max.join(items)
df_max=df_max[['item_cnt_day','item_name']]

df_min=df_1_mean[df_1_mean['category_id']==id_min]
df_min=df_min[['item_cnt_day']]
df_min=df_min.join(items)
df_min=df_min[['item_cnt_day','item_name']]


print(df_min)
print(df_max)


df=sales_train
id_list_max=items[items['category_id']==id_max].index.tolist()
id_list_min=items[items['category_id']==id_min].index.tolist()
id_set=set(id_list_max) | set(id_list_min)
df=df[['date_block_num','item_id','item_cnt_day']]
df_rslt=pd.DataFrame()
df_rslt['max_month']=-1
df_rslt['min_month']=0

id_list_new=list(id_set)
df_rslt['item_id']=id_list_new
# df_rslt['item_id']=id_set
for i in id_set:
  df_month=df[df['item_id']==i]

  df_month=df_month.fillna(0)
  df_month=df_month.groupby('date_block_num').sum('item_cnt_day').sort_values(by=['item_cnt_day'])
  
  n=df_month.tail(1).index.tolist()
  if len(n)==0:
    n.append(None)
  n1=df_month.head(1).index.tolist()
  if len(n1)==0:
    n1.append(None)
  df_rslt.loc[df_rslt.item_id==i, 'max_month']=n
  df_rslt.loc[df_rslt.item_id==i, 'min_month']=n1

df_rslt

Empty DataFrame
Columns: [item_cnt_day, item_name]
Index: []
         item_cnt_day                               item_name
item_id
0            1.000000  !! IN THE POWER OF HAPPINESS (PLAST) D
2            1.000000   *** IN THE GLORY OF THE GLORY (UNV) D
3            1.000000                  *** BLUE WAVE (Univ) D
4            1.000000                       *** BOX (GLASS) D
5            1.000000       *** NEW AMERICAN GRAPHICS (UNI) D
...               ...                                     ...
22157        1.000000                                YALTA 45
22159        1.142857                               YANKOVSKY
22160        1.000000                  FAIR OF FAIRY (Region)
22162        1.481283                              THE FATHER
22163        1.114286                        FURNISH (region)

[4714 rows x 2 columns]

     max_month min_month  item_id
0         20.0      20.0        0
1         22.0      19.0        2
2         19.0      18.0        3
3         20.0      20.0        4
4         23.0      23.0        5
...        ...       ...      ...
5031         0        10    15838
5032        10         0    15839
5033        13        20    15841
5034         6         4    15845
5035         0         4    15847

[5036 rows x 3 columns]

# Задание 4

1. Для категорий из задания 2 найдите среднюю и медианную цену по категории в пределах каждого месяца.
2. В каждом году найдите месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце.

In [ ]:

def opr_month(l):
  months=['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
  l1=[]
  l2=[]
  l3=[]
  for i in l:
    # print(int(i)//12)
    if int(i)//12==0:
      l1.append(int(i)%12)
    elif int(i)//12==1:
      l2.append(int(i)%12)
    else:
      l3.append(int(i)%12)
  for i in range(len(l1)):
    l1[int(i)]=months[l1[int(i)]]
  for i in range(len(l2)):
    l2[int(i)]=months[l2[int(i)]]
  for i in range(len(l3)):
    l3[i]=months[l3[i]]
  return l1,l2,l3
  
  
  



import pandas as pd
id_max=40
id_min=10
sales_train=pd.read_csv("/content/drive/MyDrive/data/sales_train.csv")
items=pd.read_csv("/content/drive/MyDrive/data/items.csv")
item_categories=pd.read_csv("/content/drive/MyDrive/data/item_categories.csv")
df=sales_train.merge(items)
months_mean_max=[0]*34
months_median_max=[0]*34
months_mean_min=[0]*34
months_median_min=[0]*34
for i in range(34):
  df_1=df[(df['category_id']==id_max) & (df['date_block_num']==i)]
  df_2=df[(df['category_id']==id_min) & (df['date_block_num']==i)]
  months_mean_max[i]=df_1['item_price'].mean()
  months_median_max[i]=df_1['item_price'].median()
  months_mean_min[i]=df_2['item_price'].mean()
  months_median_min[i]=df_2['item_price'].median()
p_max=pd.DataFrame()
p_max['month']=range(34)
p_max['mean_price']=months_mean_max
p_max['median_price']=months_median_max

p_min=pd.DataFrame()
p_min['month']=range(34)
p_min['mean_price']=months_mean_min
p_min['median_price']=months_median_min

print('Для категории с максимальными продажами  (' + str(id_max) + ')  :')
print(p_max)
print('Для категории с минимальными продажами  (' + str(id_min) + ')  :')
print(p_min)


less_month_max=[]
less_month_min=[]
for i in range(len(p_max)):
  if i!=0 and i!=33:
    if p_max.iloc[i-1]['mean_price']>p_max.iloc[i]['mean_price'] and p_max.iloc[i]['mean_price']<p_max.iloc[i+1]['mean_price']:
      less_month_max.append(p_max.iloc[i]['month'])
    if p_min.iloc[i-1]['mean_price']>p_min.iloc[i]['mean_price'] and p_min.iloc[i]['mean_price']<p_min.iloc[i+1]['mean_price']:
      less_month_min.append(p_min.iloc[i]['month'])



less_month_max_2013, less_month_max_2014, less_month_max_2015=opr_month(less_month_max)
less_month_min_2013, less_month_min_2014, less_month_min_2015=opr_month(less_month_min)
print('Месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце для максимальной категории (40):')
print('2013:')
print(less_month_max_2013)
print('2014:')
print(less_month_max_2014)
print('2015:')
print(less_month_max_2015)


print('Месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце для минимальной категории (10):')
print('2013:')
print(less_month_min_2013)
print('2014:')
print(less_month_min_2014)
print('2015:')
print(less_month_min_2015)

Для категории с максимальными продажами  (40)  :
    month  mean_price  median_price
0       0  244.485942        199.00
1       1  252.174936        203.00
2       2  260.645016        231.00
3       3  254.852406        199.00
4       4  247.627583        199.00
5       5  245.860855        199.00
6       6  236.812052        149.00
7       7  234.470179        149.00
8       8  241.818554        198.00
9       9  247.543851        199.00
10     10  253.212749        199.00
11     11  257.766298        237.00
12     12  252.909797        199.00
13     13  261.256517        248.00
14     14  262.435981        251.00
15     15  268.408070        249.00
16     16  254.364473        199.00
17     17  255.158138        199.00
18     18  257.394782        199.00
19     19  264.090060        199.00
20     20  265.388479        240.00
21     21  263.751745        199.00
22     22  264.032958        199.00
23     23  261.918712        199.00
24     24  263.298032        200.78
25     25  256.362387        199.00
26     26  258.193962        169.00
27     27  281.630704        299.00
28     28  286.508608        299.00
29     29  279.142252        249.00
30     30  273.251516        199.00
31     31  273.242103        249.00
32     32  279.393699        249.00
33     33  281.000153        249.00
Для категории с минимальными продажами  (10)  :
    month  mean_price  median_price
0       0         NaN           NaN
1       1         NaN           NaN
2       2         NaN           NaN
3       3      1998.0        1998.0
4       4         NaN           NaN
5       5         NaN           NaN
6       6         NaN           NaN
7       7         NaN           NaN
8       8         NaN           NaN
9       9         NaN           NaN
10     10         NaN           NaN
11     11         NaN           NaN
12     12         NaN           NaN
13     13         NaN           NaN
14     14         NaN           NaN
15     15         NaN           NaN
16     16         NaN           NaN
17     17         NaN           NaN
18     18         NaN           NaN
19     19         NaN           NaN
20     20         NaN           NaN
21     21         NaN           NaN
22     22         NaN           NaN
23     23         NaN           NaN
24     24         NaN           NaN
25     25         NaN           NaN
26     26         NaN           NaN
27     27         NaN           NaN
28     28         NaN           NaN
29     29         NaN           NaN
30     30         NaN           NaN
31     31         NaN           NaN
32     32         NaN           NaN
33     33         NaN           NaN
Месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце для максимальной категории (40):
2013:
['Август']
2014:
['Январь', 'Май', 'Октябрь', 'Декабрь']
2015:
['Февраль', 'Август']
Месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце для минимальной категории (10):
2013:
[]
2014:
[]
2015:
[]